<div class="page-header">
  <h1>Article</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Title:</strong></dt>
  <dd><%= @article.title %></dd>
  <dt><strong>Content:</strong></dt>
  <dd><%= @article.content %></dd>
  <dt><strong>Author:</strong></dt>
  <dd><%= @article.author.name %></dd>
  <dt><strong>Photo:</strong></dt>
  <dd><%= image_tag @article.photo.url(:thumb) %></dd>
</dl>
<% if can? :update, @article %>
  <%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-default' %>
  <%= link_to 'Destroy', article_path(@article), method: 'delete', data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<% end %>
<%= link_to 'Back', articles_path, class: 'btn btn-default' %>

<% if can? :create, @comment %>
  <%= render partial: 'attachments/comments_attachment' %>
  <%= render partial: 'attachments/articles_attachment' %>
<% end %>

<div class='no-comments'>
  <% if can? :create, @comment %>
    <h3>This article don't have any comments. You can write comment.</h3>
  <% else %>
    <h3>This article don't have any comments. You can login and then create one.</h3>
  <% end %>
</div>

<div class='comments' style='display:none'>
  <h1>Comments</h1>
  <div class="comment-rows">
    <table class="table table-striped table-comments">
      <thead>
        <tr>
          <th>Content</th>
          <th>Author</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'articles/comment', collection: @article_comments, as: :comment %>
      </tbody>
    </table>
    <div id="infinite-scrolling">
      <%= will_paginate @article_comments %>
    </div>
  </div>
</div>

<% if can? :create, @comment %>
<div class='comment-form'>
<%= form_for [@article, @comment], html: { class: "form-horizontal fcomment", id: "create-comment", remote: true }, validate: true do |f| %>

  <div class="form-group">
    <%= f.label :comment, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :content, class: 'form-control form-content' %>
    </div>
  </div>
  <%= f.hidden_field :author_id %>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit 'Add Comment', class: 'btn btn-primary add-comment' %>
    </div>
  </div>
</div>

<% end %>
</div>
<% end %>

<div class='attachments'>
  <% if can? :create, @comment %>
    <%= render 'attachments/attachment_links' %>
  <% end %>
  <h1>Attachments</h1>
  <div class='all-attachments'>
    <div class="row attach-header">
      <div class="col-lg-6 col-md-6"><h4>Content</h4></div>
      <div class="col-lg-6 col-md-6"><h4>Attachment info</h4></div>
    </div>
    <div class="row attached-body">
      <%= render partial: 'attachments/attachment', collection: @attachments %>
    </div>
  </div>
  <div class="attachment-upload">
    <%= form_for [@article, @attachment] do |f| %>
      <div class="form-group">
        <%= f.file_field :asset %>
      </div>
      <%= f.hidden_field :author_id, value: current_user.id %>
      <%= f.hidden_field :attachable_id, value: 0 %>
      <%= f.hidden_field :attachable_type, value: 'File' %>
      <div class="form-group">
        <%= f.submit 'Upload file', class: 'btn btn-primary' %>
      <div>
    <% end %>
  </div>
</div>
