<div class="page-header">
  <h1>Article</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Title:</strong></dt>
  <dd><%= @article.title %></dd>
  <dt><strong>Content:</strong></dt>
  <dd><%= @article.content %></dd>
  <dt><strong>Author:</strong></dt>
  <dd><%= @article.author.name %></dd>
</dl>

<%= link_to 'Back', articles_path, class: 'btn btn-default' %>
<%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-default' %>
<%= link_to 'Destroy', article_path(@article), method: 'delete', data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
